:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
  }
  
* {
    box-sizing: border-box;
  }

body {
    font-family: var(--font-open-sans);
  }
  
a {
    text-decoration: none;
  }

.container {
    width: 1352px;
    margin: 0 auto;
  }

/* ---- HEADER ---- */
  
.header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
}

.header__nav {
    display: flex;
}

.nav__link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
  }
  
.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
  }

.nav__element {
    padding: 0 26px;
  }

.nav__element:last-child {
    padding-right: 0;
  }
  
  
/* ---- MAIN ---- */

/* ---- Opening section ---- */

.section__opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__opening__top {
    margin-top: 130px;
    text-align: center;
}

.section__opening__h1 {
    font-size: 3.0625rem;
    font-family: var(--font-raleway);
}

.section__opening__text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.section__opening__btn {
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    border: none;
    border-radius: 40px;
    box-shadow: #07ACE629 5px 10px 14px;
    display: inline-block;
    padding: 22px 155px;
}

.section__opening__img {
    width: 100%;
    height: auto;
}

/* ---- Statistics ---- */

.section__statistics {
    margin-top: 100px;
}

.statistics {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.section__statistics__h2 {
    font-size: 2.25rem;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics__element {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}
  
.statistics__img {
    position: absolute;
}

.statistics__element:nth-child(1) .statistics__circle {
    background-color: var(--color-redish);
}
  
.statistics__element:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
 }
  
.statistics__element:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}
  
.statistics__element:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}
  
.statistics__element:nth-child(3) .statistics__circle {
    background-color: var(--color-green);
}
  
.statistics__element:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}

.statistics__number {
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
}

.statistics__text {
    color: var(--color-grey);
    margin-top: 19px;
}

/* ---- Benefits ---- */

/* ---- Pricing ---- */

/* ---- Contact ---- */

/* ---- FOOTER ---- */
